{#
# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bookshelf - Python on Google Cloud Platform</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
</head>

<body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyCdGB0NDv4vBR4B9hRxMG6gJVGqWiOnbDk",
      authDomain: "sandbox-firebase-606ff.firebaseapp.com",
      projectId: "sandbox-firebase-606ff",
      storageBucket: "sandbox-firebase-606ff.appspot.com",
      messagingSenderId: "603835977972",
      appId: "1:603835977972:web:81db74f8878aabaf378ea1",
      measurementId: "G-0E9P24C322"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">Bookshelf</div>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Books</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  {{user}}

  <h1>Datastore and Firebase Auth Example</h1>

  <div id="firebaseui-auth-container"></div>

  <button id="sign-out" hidden=true>Sign Out</button>

  <div id="login-info" hidden=true>
    <h2>Login info:</h2>
    {% if user_data %}
    <dl>
      <dt>Name</dt>
      <dd>{{ user_data['name'] }}</dd>
      <dt>Email</dt>
      <dd>{{ user_data['email'] }}</dd>
      <dt>Last 10 visits</dt>
      <!-- <dd>
        {% for time in times %}
        <p>{{ time['timestamp'] }}</p>
        {% endfor %}
      </dd> -->
    </dl>
    {% elif error_message %}
    <p>Error: {{ error_message }}</p>
    {% endif %}
  </div>

  
</body>

</html>